<div id="sidebar-container" class="sidebar-expanded d-none d-md-block col-2 mt-12 lhs-bg pr-3">
    <ul class="list-group sticky-top sticky-offset">
        <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
            <small>MAIN MENU</small>
        </li>
        <li class="list-group-item {{isSelected mainPage 'home'}} sidebar-separator-title d-flex align-items-center menu-collapsed" id="HomeListItem" onclick="redirect('/posts');">
            <small>Home</small>
        </li>
        <li class="list-group-item {{isSelected mainPage 'newThread'}} sidebar-separator-title d-flex align-items-center menu-collapsed" id="NewThreadListItem" onclick="redirect('/posts/new');">
            <small>Create a New Thread</small>
        </li>
    </ul>
</div>