<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/posts">Forum</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
    <div class="text-white mt-1 mr-3">Welcome {{userName}}</div>
    <div class="text-white mt-1 mr-3">|</div>
    <div class="text-white mt-1 mr-3">{{points}}</div>
    <div class="text-white mt-1 mr-3">|</div>
    <a href='/logout' class="text-white mt-1">Logout</a>
  </div>
</nav>